@import url("https://use.typekit.net/std3xut.css");
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #fff;
}

* {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	color: #57a85c;
	font-family: "brother-1816";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #aa4b6b;
  background: -webkit-linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}
#webgl {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
